@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}
.site-wrapper {
  max-width: 1440px;
  padding-inline: 1em;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}